* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.App {
	width: 800px;
}

.post {
	display: flex;
	padding: 15px;
	border: 2px solid teal;
	margin: 15px 0px 0px 0px;
	justify-content: space-between;
	align-items: center;
}
.post__btns {
	display: flex;
}

.post-enter {
	transform: translateX(-350px);
}
.post-enter-active {
	transform: translateX(0px);

	transition: all 500ms;
}
.post-exit {
	opacity: 1;
}
.post-exit-active {
	transform: translateX(-350px);
	transition: all 500ms;
}

.page {
	padding: 5px;
	border: 2px solid teal;
	cursor: pointer;
	margin: 0px 3px 0px 0px;
}
.page__wrapper {
	margin: 30px 0px 0px 0px;
	display: flex;
}
.page__current {
	border: 3px solid orange;
	font-weight: bold;
}
.navbar {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
	padding: 0px 15px;
	background: lightblue;
}

.navbar__links {
	margin-left: auto;
}